/*
Overlay is render outside of radix themes,
you are responsive for matching its style to custom themes if any.
 */
.DrawerOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* --color-overlay */
}

.DrawerContent {
  width: 100%;
  z-index: 50;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  max-height: 96%;

  border-top-left-radius: var(--drawer-border-radius);
  border-top-right-radius: var(--drawer-border-radius);

  background-color: var(--color-panel-solid);
  box-shadow: var(--shadow-6);
  outline: none;

  /* bar */

  &::before {
    content: '';
    position: fixed;
    top: calc(var(--drawer-content-padding-y) / 2);
    left: 50%;
    transform: translate(-50%, -100%);
    height: var(--space-1);
    width: var(--space-8);
    border-radius: var(--radius-2);
    background-color: var(--gray-6);
  }
}

.DrawerContentInner {
  --inset-padding-top: var(--drawer-content-padding-y);
  --inset-padding-right: var(--drawer-content-padding-x);
  --inset-padding-bottom: var(--drawer-content-padding-y);
  --inset-padding-left: var(--drawer-content-padding-x);
  padding: var(--drawer-content-padding-y) var(--drawer-content-padding-x);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/

@breakpoints {
  .DrawerContent {
    &:where(.rt-r-size-1) {
      --drawer-content-padding-x: var(--space-3);
      --drawer-content-padding-y: var(--space-4);
      --drawer-border-radius: var(--radius-4);
    }

    &:where(.rt-r-size-2) {
      --drawer-content-padding-x: var(--space-4);
      --drawer-content-padding-y: var(--space-5);
      --drawer-border-radius: var(--radius-4);
    }

    &:where(.rt-r-size-3) {
      --drawer-content-padding-x: var(--space-5);
      --drawer-content-padding-y: var(--space-6);
      --drawer-border-radius: var(--radius-5);
    }

    &:where(.rt-r-size-4) {
      --drawer-content-padding-x: var(--space-6);
      --drawer-content-padding-y: var(--space-7);
      --drawer-border-radius: var(--radius-5);
    }
  }
}
